.message {
    color: #1a1a1a;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.message-text {
    display: inline-block;
}
.message-left {
    display: flex;
    justify-content: flex-start;
}
.message-right {
    display: flex;
    justify-content: flex-end;
}

.message-time {
    display: inline-block;
    margin-left: 5px;
    padding-right: 10px;
    color: #999;
    font-size: 12px;
}
.messages {
    margin-top: 45px;
    color: #1a1a1a;
    overflow-y: scroll;
    z-index: 1002;
    padding-left: 10px;
    margin-bottom: 45px;
    max-height: calc(92vh - 90px); /* высота блока будет равна высоте экрана минус высота заголовка и нижней части блока */
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
    padding-right: 10px; /* добавлено свойство для отступа справа */
}
.messages::-webkit-scrollbar {
    width: 5px;
}
.messages::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}
.messages::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.input-group {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
.input {
    border: none;
    background-color: #f0f0f0;
    color: #1a1a1a;
    flex-grow: 1;
    border-radius: 10px;
}
.input::placeholder {
    padding: 5px;
    color: #999999;
}
.btn-send {
    background-color: #f0f0f0;
    color: #1a1a1a;
    border-radius: 10px;
}
